<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
    </head>
    <body>

        <!-- Header -->
            <header id="header" class="alt">
                <div class="logo"><a href="{{url_for('index')}}">AWS Project</div>
                <a href="#menu">Menu</a>
            </header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{url_for('index')}}">Home</a></li>
					<li><a href="{{url_for('boto_first')}}">Multilingual NLP</a></li>
                    <li><a href="{{url_for('upload_page')}}">Text Recognition</a></li>
					<li><a href="{{url_for('written_first')}}">Handwriting Recognition</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Built-in Module in AWS</p>
						<h2>Boto3 Task</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
                            <h3>Please enter your text and its language category below:</h3>
                            <form action="/boto" method="POST">
                                <p>Text <input type = "text" name = "text" /></p>
                                <p>Language <input type = "text" name = "language" /></p>
                                <p><input type = "submit" value = "submit" /></p>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Footer -->
            <footer id="footer">
			    <div class="container">
                    <ul class="icons">
					    <li><a target="_blank" href="https://github.com/Kennethws/ucb-summer-cloud-computing" class="icon fa-github"><span class="label">Github</span></a></li>
				    </ul>
			    </div>
			    <div class="copyright">
					Template from templated.co. All rights reserved.
				</div>
		    </footer>

        <!-- Scripts -->
            <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

	</body>
</html>
