<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{{url_for('index')}}">AWS Project</div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{url_for('index')}}">Home</a></li>
					<li><a href="{{url_for('boto_first')}}">Multilingual NLP</a></li>
					<li><a href="{{url_for('upload_page')}}">Text Recognition & NLP</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{{url_for('static', filename='images/slide01.jpg')}}" alt="" />
					<div class="inner">
						<header>
							<p>A web application for simple NLP & CV task and handwriting recognition</p>
							<h2>CV-NLP Web App</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static', filename='images/pic02.jpg')}}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Built-in Module in AWS</p>
										<h2>Multilingual NLP</h2>
									</header>
									<p> By using this built-in module, we can do a simple NLP analysis for a given sentences in different languages. </p>
									<footer class="align-center">
										<a href="{{url_for('boto_first')}}" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static', filename='images/pic04.jpg')}}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Built-in Module in AWS</p>
										<h2>Text Recognition & NLP</h2>
									</header>
									<p> By using this built-in module, we can do a text recognition from uploading picture. </p>
									<footer class="align-center">
										<a href="{{url_for('upload_page')}}" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static', filename='images/pic03.jpg')}}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Deep Learning Model Application</p>
										<h2>Handwriting Recognition</h2>
									</header>
									<p> We are using CRNN model and a jquery application together to finish this task.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a target="_blank" href="https://github.com/Kennethws/ucb-summer-cloud-computing" class="icon fa-github"><span class="label">Github</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					Template from templated.co. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

	</body>
</html>
