<!DOCTYPE HTML>
<html>
<head>
    <<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <<meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body class="is-preload">
    <form action="/loginAuth" method="POST">
        <h4>Username<sup><font color=red size=4>*</font></sup></h4>
        <input type="text" name = "username" placeholder="username/email" required/> </br>
        <input type="submit" value = Login />
    </form>
</body>
</html>
