<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}" />
    </head>
    <body>

        <!-- Header -->
            <header id="header" class="alt">
                <div class="logo"><a href="{{url_for('index')}}">AWS Project</div>
                <a href="#menu">Menu</a>
            </header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{{url_for('index')}}">Home</a></li>
					<li><a href="{{url_for('boto_first')}}">Boto3 Task</a></li>
					<li><a href="{{url_for('upload_page')}}">Text Recognition</a></li>
                    <li><a href="{{url_for('written_first')}}">Handwriting Recognition</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Built-in Module in AWS</p>
						<h2>Image Text Detection & NLP</h2>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
                            <h3>Results</h3>
                            <h4>Table of Text Detected</h4>
                            <table class = 'center' border = 1>
                                <tr>
                                    <th>Text Detected</th>
                                </tr>

                                {% for word in words %}
                                <tr>
                                    <td>{{ word }}</td>
                                </tr>
                                {% endfor %}
                            </table>

                            <h4>Table of Sentiment Analysis</h4>
                            <table class = 'center', border = 1>
                                <tr>
                                    <th>Sentiment</th>
                                    <th>Score</th>
                                </tr>
                                <tr>
                                    <td style = "color: red">{{category[0]}}</td>
                                    <td style = "color: red">{{score_sentiment[0]}}</td>
                                </tr>
                                <tr>
                                    <td>{{category[1]}}</td>
                                    <td>{{score_sentiment[1]}}</td>
                                </tr>
                                <tr>
                                    <td>{{category[2]}}</td>
                                    <td>{{score_sentiment[2]}}</td>
                                </tr>
                                <tr>
                                    <td>{{category[3]}}</td>
                                    <td>{{score_sentiment[3]}}</td>
                                </tr>
                            </table>

                            <h4>Table of Key Phrases</h4>
                            <table class = 'center', border = 1>
                                <tr>
                                    <th>Key Phrases</th>
                                    <th>Score</th>
                                </tr>

                                {% for i in range(length) %}
                                <tr>
                                   <td> {{ phrases[i] }} </td>
                                   <td> {{ score_phrase[i] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                            <button onclick="window.location.href='{{url_for('upload_page')}}'">Go back</button>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Footer -->
            <footer id="footer">
			    <div class="container">
                    <ul class="icons">
					    <li><a target="_blank" href="https://github.com/Kennethws/ucb-summer-cloud-computing" class="icon fa-github"><span class="label">Github</span></a></li>
				    </ul>
			    </div>
			    <div class="copyright">
				    Template from templated.co. All rights reserved.
			    </div>
		    </footer>

        <!-- Scripts -->
            <script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/skel.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

	</body>
</html>
